#topSide{
    text-align: center;
    float:center;
    min-width: 320px;
    margin-top: 5rem;
    display: flexbox;
  }
  h1{
    font-size: 3rem;
    color:white;
    text-shadow: 2.4px 1.3px rgba(96, 93, 93, 0.516);
    text-shadow: 1.5px 4px rgba(96, 93, 93, 0.516);
  }
  p{
    color:white;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 1.5rem;
    color:white;
    font-weight: bold;
  }
  
  a{
    font-size: 1.5rem;
    color:white;
  }
  
  #mainSide{
    text-align: center;

  }
  #bottomSide{
    text-align: center;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background: rgb(80,85,111);
    background-image: radial-gradient(circle, #13015b, #130c66, #121770, #10217b, #0c2a86, #00368c, #004292, #004d96, #005a91, #006284, #006875, #376c69);
    background-attachment: fixed;
    margin:0;
    overflow:scroll;
    align-items: center;
    text-align: center;
  } 
  
label{
    font-size: 1.5rem;
    color:white;
}
 button{
  display:block;
  font-size: 1.5rem;
  color:white;
  font-weight: bold;
}


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 5px solid #cccccc;
    border-radius: 5px;
  }
  
  
  div {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
  }
  
  
  
  
  
  
  
  /* CSS */
  .button-weather {
    background-color: #000000;
    border-radius: 100px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 -25px 18px -14px inset,rgba(44, 182, 187, 0.15) 0 1px 2px,rgba(44, 130, 187, 0.15) 0 2px 4px,rgba(44, 111, 187, 0.15) 0 4px 8px,rgba(44, 77, 187, 0.15) 0 8px 16px,rgba(44, 187, 175, 0.15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-weather:hover {
    box-shadow: rgba(180, 172, 172, 0.35) 0 -25px 18px -14px inset,rgba(1, 255, 200, 0.25) 0 1px 2px,rgba(0, 238, 255, 0.25) 0 2px 4px,rgba(44, 187, 187, 0.25) 0 4px 8px,rgba(44, 154, 187, 0.25) 0 8px 16px,rgba(46, 44, 187, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(1deg);
  }


  .weather-box{
    text-align: center;
}

.weather-box img{
    margin-top: 1%;
    max-width: 10%;
    max-height: 10%;
}
